.google{
margin-top:200px;
text-align:center;
}

.box{
width:45%;
border:1px solid lightgray;
color:lightgray;
margin-left:auto;
margin-right:auto;
margin-top:20px;
padding-left:1%;
line-height:250%;
box-shadow:4px 4px 10px 2px #d0cec6;
}